/* Warna background navbar */
.bg-white {
    background-color: #fff;
  }

  /* Shadow pada navbar */
  .shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
  }

  /* Padding pada navbar */
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* Warna teks pada navbar */
  .text-gray-800 {
    color: #2d3748;
  }

  /* Margin pada item navbar */
  .ml-2 {
    margin-left: 0.5rem;
  }

  /* Warna teks dan latar pada item navbar saat dihover */
  .text-gray-600:hover,
  .text-gray-600:focus {
    color: #4a5568;
  }

  .hover\\:bg-gray-100:hover,
  .hover\\:bg-gray-100:focus {
    background-color: #f7fafc;
  }

  /* Tinggi navbar */
  .h-16 {
    height: 4rem;
  }

  /* Flex container */
  .flex {
    display: flex;
  }

  /* Flex align items */
  .items-center {
    align-items: center;
  }

  /* Flex justify content */
  .justify-between {
    justify-content: space-between;
  }

  /* Flex shrink */
  .flex-shrink-0 {
    flex-shrink: 0;
  }

  /* Lebar dan tinggi gambar */
  .h-8 {
    height: 2rem;
  }

  .w-8 {
    width: 2rem;
  }

  /* Font weight dan ukuran font */
  .font-semibold {
    font-weight: 600;
  }

  .text-xl {
    font-size: 1.25rem;
  }

  /* Margin kanan item navbar */
  .md\\:ml-6 {
    margin-left: 1.5rem;
  }

  /* Teks dan latar pada tombol menu hamburger */
  .inline-flex {
    display: inline-flex;
  }

  .p-2 {
    padding: 0.5rem;
  }

  .rounded-md {
    border-radius: 0.375rem;
  }

  .text-gray-400 {
    color: #cbd5e0;
  }

  .hover\\:text-gray-500:hover,
  .hover\\:text-gray-500:focus {
    color: #a0aec0;
  }

  .hover\\:bg-gray-100:hover,
  .hover\\:bg-gray-100:focus {
    background-color: #f7fafc;
  }

  .focus\\:outline-none:focus {
    outline: none;
  }

  .focus\\:bg-gray-100:focus {
    background-color: #f7fafc;
  }

  .focus\\:text-gray-500:focus {
    color: #a0aec0;
  }

  .transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Lebar dan tinggi ikon menu hamburger */
  .h-6 {
    height: 1.5rem;
  }

  .w-6 {
    width: 1.5rem;
  }

  /* Lebar dan tinggi menu mobile */
  .sm\\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .pt-2 {
    padding-top: 0.5rem;
  }

  .pb-3 {
    padding-bottom: 0.75rem;
  }

  .text-base {
    font-size: 1rem;
  }

  .banner img {
    width: 100%;
    height: auto;
  }

  .banner {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  /* media query untuk layar dengan lebar maksimum 768px */
  @media screen and (max-width: 768px) {
    .banner img {
      max-width: 100%;
      /* mengatur lebar gambar menjadi maksimum 100% */
      height: auto;
      /* mengatur tinggi gambar agar proporsional dengan lebar */
    }
  }

  .search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .search-input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 480px) {
    .search-container {
      margin: 0;
    }

    .search-input {
      max-width: none;
    }
  }

  /* Set the z-index of the menu to be higher than the button */
  #kategori-menu {
    z-index: 999;
  }

  #kategori-menu {
    background-color: white;
  }

  /* Position the menu below the button */
  #kategori-menu li {
    margin-top: 0.5rem;
  }

  /* Style the submenu items */
  #kategori-menu li a {
    display: block;
    padding: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #374151;
    white-space: nowrap;
  }

  #kategori-menu li a:hover {
    color: #4b5563;
    background-color: #f4f4f4;
  }

  h2 {
    text-align: center;
    margin: 20px auto;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid;
    border-bottom-color: orange;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    /* Menambahkan drop shadow */
  }

  @media only screen and (max-width: 600px) {
    h2 {
      font-size: 1.5rem;
    }
  }

  .tokos {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }

  .toko {
    width: calc(50% - 20px);
    /* menampilkan 2 elemen dalam 1 baris */
    margin: 0 20px 20px 20px;
  }

  /* menambahkan margin-top pada elemen kedua dan seterusnya */
  .toko:nth-child(n+3) {
    margin-top: 20px;
  }

  .toko {
    flex: 0 0 auto;
    width: 50vw;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .toko img {
    display: block;
    margin: 0 auto;
    /* menempatkan gambar di tengah */
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 1rem;
  }

  .toko h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .toko button {
    background-color: black;
    font-weight: bold;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .toko button:hover {
    background-color: #2d3748;
  }

  .toko {
    background-color: #ffffff;
    /* putih */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* drop shadow */
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    /* radius sudut */
  }

  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product img {
    justify-content: center;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 1rem;
  }

  .product h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* menampilkan "..." pada bagian akhir teks yang tidak ditampilkan */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* membatasi jumlah baris teks menjadi 2 */
    -webkit-box-orient: vertical;
  }

  .product p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .product button {
    background-color: green;
    font-weight: bold;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .product .button-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .product .tokopedia-btn {
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .product .shopee-btn {
    background-color: #FD6A02;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }

  @media only screen and (max-width: 767px) {
    .product .button-container {
      flex-direction: column;
    }

    .product .tokopedia-btn,
    .product .shopee-btn {
      width: 100%;
      margin-top: 1rem;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .product button:hover {
    background-color: #2d3748;
  }

  .product {
    background-color: #ffffff;
    /* putih */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* drop shadow */
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    /* radius sudut */
  }

  @media only screen and (max-width: 767px) {
    .products {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .footer {
    background-color: #333333;
    color: white;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    /* menambahkan posisi relatif pada footer */
  }

  .footer::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: orange;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    /* Menambahkan drop shadow */
  }

  .footer__address,
  .footer__contact {
    flex-basis: 45%;
    /* lebar konten masing-masing bagian footer */
  }

  .footer__address h3,
  .footer__contact h3 {
    font-size: 1.2rem;
    /* ukuran teks judul */
    font-weight: bold;
    /* tebal huruf judul */
    margin-bottom: 1rem;
    /* jarak antara judul dan paragraf */
  }

  .footer__address p,
  .footer__contact p {
    font-size: 1rem;
    /* ukuran teks paragraf */
    margin-bottom: 0.5rem;
    /* jarak antara paragraf */
  }
